.demo {
	width: 80%;
	margin: auto;
	border-collapse: separate;
    border-spacing: 0 2em;
}

.code {
	padding-left: 1.25em;
	background-color: #F8F8F8;
}

.map {
	height: 300px;
	width: 450px;
}

#floating-panel {
	text-align: center;
	font-family: 'Roboto','sans-serif';
}
